.timer-container{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: lightgray;
    margin-bottom: 0.5rem;
}
.timer-title{
    color: solid black;
}
.timer-display{
    border-radius: 0.5rem;
    border: 1px solid solid black;
    text-align: end;
    font-size: x-large;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    width: 15rem;
}
.timer-buttons{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}