.intro-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  
}

.intro-content {
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.intro-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  border: 3px solid blue;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.intro-image-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.intro-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid blue;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.intro-details {
  margin-top: 10px;
  color: #4b4b4b;
  font-size: 0.9rem;
  text-align: center;
}

.intro-details p {
  margin: 3px 0;
}

.intro-text {
  flex: 1;
  color: gray;
}

.intro-heading {
  margin-top: 0;
  font-size: 1.8rem;
  color: blue;
}

.intro-profession {
  font-size: 1.2rem;
  color: black;
  margin-top: -10px;
}

.intro-interests-title {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

.intro-interests-list {
  list-style: none;
  padding: 0;
}

.intro-interest-item {
  font-size: 1rem;
  padding: 5px 0;
  color: gray;
}

.button-container {
  display: flex;
  gap: 10px; 
  margin-top: 10px; 
}


.intro-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(9, 99, 235);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.intro-button:hover {
  background-color: blue;
  transform: translateY(-3px);
}

.link-button {
   margin-top: 10px; 
  background-color: rgb(71, 173, 71);
}

.link-button:hover {
  background-color: green;
}

.additional-info {
  margin-top: 10px;
  animation: slideIn 0.3s ease;
}
