.add-container{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;
    background-color: lightgray;
}
.add-title{
    color:solid black;
}
.add-variables{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}
.add-display{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}